# 允许运行包的构建脚本
enable-pre-post-scripts=true

# 允许所有包运行构建脚本
ignore-scripts=false

# Electron 配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

