@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background: none;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.5);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
  box-shadow: none;
}

.v3-emoji-picker {
  box-shadow: none;
}

.bubble-base {
  padding: 10px;
  line-height: 20px;
  margin-bottom: 4px;
}
.color-primary,
.text-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.dialog-p0 {
  padding: 0 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}
.bg-gradient {
  /* background: linear-gradient(to bottom, #c1defd, #fff); */
  background-image: linear-gradient(0deg, #fff 30%, #c1defd 100%);
}
