@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background: none;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.5);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
  box-shadow: none;
}

.v3-emoji-picker {
  box-shadow: none;
}

.bubble-base {
  padding: 10px;
  line-height: 20px;
  margin-bottom: 4px;
}
.color-primary,
.text-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.dialog-p0 {
  padding: 0 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  .el-dialog__header {
    padding-bottom: 0;
  }
}
.bg-gradient {
  /* background: linear-gradient(to bottom, #c1defd, #fff); */
  background-image: linear-gradient(0deg, #fff 30%, #c1defd 100%);
}
.body-p-0 {
  padding: 0 !important;
}
.modal-mask-white {
  background-color: rgb(255 255 255 / 0.3);
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
    var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.cell-item {
  @apply px-4 py-3 bg-white flex hover:bg-gray-50 cursor-pointer;
}

.tag-gray-sm {
  @apply bg-gray-100 rounded-lg px-2 py-1 mr-2;
}

.tag-white-sm {
  @apply bg-white rounded-lg px-2 py-1 mr-2;
}
.input-gray-bg {
  .el-input__wrapper {
    background-color: #f5f5f5;
    border: none;
    box-shadow: none;
  }
}

.dialog-content-mark {
  @apply absolute top-0 left-0 w-full h-full bg-black/50;
}
