:root {
  --page-background: #fff;
  --text-color: #333;
  --scrollbar-color: rgba(157, 165, 183, 0.5);

  --border-line-color: #ddd;

  --font-color-grey: #999;
  --sider-bg: #f5f8fd;
  --primary-color: #785bf6;
  --primary-color-grey: #e6f4ff;
  --hover-bg-grey: rgba(0, 0, 0, 0.04);
  --slot-area-color: rgba(230, 61, 61, 0.5);
  --mask-color: rgba(0, 0, 0, 0.3);
  --text-color: #333;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #ff4d4f;

  --chat-input-primary-color: #785bf6 !important;
  --chat-input-primary-color-hover: #9780fc !important;
  --mention-text: #785bf6 !important;

  --el-color-primary: #785bf6 !important;
  --el-color-primary-dark-2: #6749e6 !important;
  --el-color-primary-light-3: #9780fc !important;
  /* --el-button-bg-color: #785bf6; */
}
.theme-light {
  --page-background: #fff;
  --text-color: #333;
  --scrollbar-color: rgba(157, 165, 183, 0.5);
}
.theme-dark {
  --page-background: #1f1f1f;
  --text-color: #fff;
  --scrollbar-color: rgba(157, 165, 183, 0.5);
}
