:root {
  --primary-color: #785bf6;
  --primary-color-grey: #e6f4ff;
  --mask-color: rgba(0, 0, 0, 0.3);
  --text-color: #333;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #ff4d4f;
  --hover-bg-color: #f1f1f1;
}
.theme-light {
  --primary-color: #785bf6;
  --primary-color-grey: #e6f4ff;
  --mask-color: rgba(0, 0, 0, 0.3);
  --text-color: #333;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #ff4d4f;
  --hover-bg-color: #f1f1f1;
}
.theme-dark {
  --primary-color: #785bf6;
  --primary-color-grey: #e6f4ff;
  --mask-color: rgba(0, 0, 0, 0.3);
  --text-color: #333;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #ff4d4f;
  --hover-bg-color: #f1f1f1;
}
