@font-face {
  font-family: "iconfont"; /* Project id 5036710 */
  src: url('iconfont.woff2?t=1763126533621') format('woff2'),
       url('iconfont.woff?t=1763126533621') format('woff'),
       url('iconfont.ttf?t=1763126533621') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e60e";
}

.icon-chat-f:before {
  content: "\e619";
}

.icon-chat-dot:before {
  content: "\e60d";
}

.icon-minus:before {
  content: "\e635";
}

.icon-plus:before {
  content: "\e62b";
}

.icon-chat:before {
  content: "\e60a";
}

.icon-chat-group-add:before {
  content: "\e644";
}

.icon-add-user:before {
  content: "\e625";
}

.icon-direction-down:before {
  content: "\e772";
}

.icon-ring:before {
  content: "\e60b";
}

.icon-mute-b:before {
  content: "\e66b";
}

.icon-mute:before {
  content: "\e922";
}

.icon-unpin:before {
  content: "\e62a";
}

.icon-delete:before {
  content: "\e617";
}

.icon-share-list:before {
  content: "\e605";
}

.icon-close:before {
  content: "\e607";
}

.icon-share:before {
  content: "\e603";
}

.icon-copy:before {
  content: "\e61b";
}

.icon-clean:before {
  content: "\e681";
}

.icon-xin:before {
  content: "\e614";
}

.icon-relay:before {
  content: "\e687";
}

.icon-radio:before {
  content: "\e604";
}

.icon-pin:before {
  content: "\e634";
}

.icon-quote:before {
  content: "\e6c8";
}

.icon-menu-dot:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e66c";
}

.icon-add:before {
  content: "\e6ea";
}

.icon-activity:before {
  content: "\e601";
}

.icon-emoji:before {
  content: "\e657";
}

.icon-attachment:before {
  content: "\e620";
}

.icon-image:before {
  content: "\e8ba";
}

.icon-box:before {
  content: "\e602";
}

.icon-tel:before {
  content: "\e621";
}

.icon-video:before {
  content: "\e655";
}

.icon-message-success:before {
  content: "\e6e7";
}

.icon-tip:before {
  content: "\e600";
}

.icon-error:before {
  content: "\e628";
}

.icon-time:before {
  content: "\e744";
}

.icon-message-read:before {
  content: "\e680";
}

.icon-bubble-tail-left:before {
  content: "\e612";
}

.icon-bubble-tail-right:before {
  content: "\e613";
}

