@font-face {
  font-family: "iconfont"; /* Project id 5036710 */
  src: url('iconfont.woff2?t=1761039323696') format('woff2'),
       url('iconfont.woff?t=1761039323696') format('woff'),
       url('iconfont.ttf?t=1761039323696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e603";
}

.icon-copy:before {
  content: "\e61b";
}

.icon-clean:before {
  content: "\e681";
}

.icon-close:before {
  content: "\e622";
}

.icon-xin:before {
  content: "\e614";
}

.icon-relay:before {
  content: "\e687";
}

.icon-radio:before {
  content: "\e604";
}

.icon-fixed:before {
  content: "\e634";
}

.icon-mute:before {
  content: "\e7ba";
}

.icon-quote:before {
  content: "\e6c8";
}

.icon-delete:before {
  content: "\e618";
}

.icon-menu-dot:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e66c";
}

.icon-add:before {
  content: "\e6ea";
}

.icon-activity:before {
  content: "\e601";
}

.icon-emoji:before {
  content: "\e657";
}

.icon-attachment:before {
  content: "\e620";
}

.icon-image:before {
  content: "\e8ba";
}

.icon-box:before {
  content: "\e602";
}

.icon-tel:before {
  content: "\e621";
}

.icon-video:before {
  content: "\e655";
}

.icon-message-success:before {
  content: "\e6e7";
}

.icon-tip:before {
  content: "\e600";
}

.icon-error:before {
  content: "\e628";
}

.icon-time:before {
  content: "\e744";
}

.icon-message-read:before {
  content: "\e680";
}

.icon-bubble-tail-left:before {
  content: "\e612";
}

.icon-bubble-tail-right:before {
  content: "\e613";
}

